.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2rem;
}

.posts {
    width: 700px;
    height: 108px;
    margin-top: 3.2rem ;

    a {
        display: block;

        & + a {
            margin-top:3rem;
            padding-top:2rem;
            border-top:1px solid var(--gray-700);
        }

        h1 {
            font-size: 1.75rem;
            font-family:  'Inter', sans-serif;
            font-weight: 700;
            display: flex;
            align-items: center;
            
        }

        p {
            font-size: 1.125rem;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            margin-top: 0.5rem;
            line-height: 2rem;
            color:  var(--gray-150);
        }
        div {
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
            p {
                display: flex;
                flex-direction: row;
                justify-content:center;
                align-items: center;
                gap: 0.5rem;
                font-size:0.875rem;
            }
        }
        
    }
    .title{
        
        font-size: 1.25rem;
        font-family:  'Inter', sans-serif;
        font-weight: 600;
        color: var(--pink);
        margin-top: 4rem;
        &:hover {
            opacity: 0.9;
        }
    }
    button {
        border: 0;
    
        background-color: transparent;
        color: var(--pink);
    
        font-size: 1.125rem;
        font-weight: 600;
        &:hover {
            opacity: 0.9;
        }
    }
}
.icon {
    width:20px;
    height:20px;
}